body {
    background-image: url('https://as2.ftcdn.net/v2/jpg/02/94/71/81/1000_F_294718149_aIizeIOQuJAK2K79oJ7C0Ck0xTaDTxOu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    height: 600px;;
    align-items: center;
    justify-content: center;
}
h2 {
    text-align: center;
}
input {
    
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
}
button {
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}
#listaParticipantes {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}